<!doctype html>
<html lang="en">
  <head>
    <title>Layout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">HEADER HERE</div>
      <div class="second-section">
        <div class="second-left">SLIDER HERE</div>

        <div class="second-right">LOGIN</div>
      </div>

      <div class="third-section">
        <div class="third-left">
          <div class="third-top">NEWS</div>

          <div class="third-bottom">
            <div class="third-down-left">NEWS TITLE</div>
            <div class="third-down-right">NEWS VIEW</div>
          </div>
        </div>

        <div class="third-right">
          <div class="top">ADS TITLE</div>
          <div class="down">ADS PICS</div>
        </div>
      </div>

      <div class="fourth-section">
        <div class="fourth-left">Offers</div>
        <div class="fourth-right">Offers Details</div>
      </div>

      <div class="copyright">
        @copyright
      </div>
    </div>
  </body>
</html>
